.heading {
    &--h1 {
        color: $color-white;
        font-size: $font-base * 4;
    @include medium() {
        font-size: $font-base * 8;
    }
    @include large() {
        font-size: $font-base * 10;
        }
    }
    &--h2 {
        font-size: $font-base * 5;
        width: 100%;
        text-align: center;
        padding-top: $grid-base * 2;
        margin-bottom: $grid-base * 3;
    }
}