.row {
    display: flex;
    flex-direction: column;
    // dajemy tak bo mozna mobile-first
    flex-wrap: wrap;
    margin: 0;
    padding: $grid-base * 1.5;
    
    @include medium() {
        flex-direction: row;
    }
}